* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $blue;
    }
}
body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-left: 0;
    font-size: inherit;
    line-height: 1;
}

.container 
{
    max-width: 1110px;
    margin: 0 auto;
 
}
.hidden {
    display: none;
}