.carousel-section {
    margin-bottom: 30px;
}
.carousel {
}
.carousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 330px;
    width: 100%;
    background-image:linear-gradient(to top,rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%),
    url(../image/carusel/slider-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

}
.carousel__item-title {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 60px;
}
.carousel__item-text {
    line-height: 2.14;
    color: rgba(255,255,255,0.5);
    font-weight: 500;
    font-size: 14px;
    p {
        margin-bottom: 15px;
    }
}