.header__links {
  display: flex;
  justify-content: space-between;
}
.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 35px;
  }
  svg {
    fill: grey;
  }
  &:hover {
    color: blue;
    text-decoration: none;
    svg {
      fill:blue;
      // stroke #1875f0;
    }
  }
}

.header-link__icon {
  width: 21px;
  height: 21px;
  margin-right: 18px;
  position: relative;
}
.header-link--notify .header-link__icon::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: -8px;
  right: -7px;
}
.header-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
