.nav-dropdown {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    padding-left: 28px;
    padding-right: 28px;

}
.nav-dropdown:hover {
    .nav-dropdown__title {
        color: $blue;
    }
    svg {
        fill: $blue;
    }
    .nav-dropdown__dropdown {
        display: block;
    }
}

.nav-dropdown__title { 
  position: relative;
  width: auto;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding-right: 20px;


}
.nav-dropdown__title-icon {
   
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 8px;
    height: 5px;
    font-size: 0;
     svg {
        fill: #b3b3b3;
     }

  }
.nav-dropdown__dropdown {
    display: none;
position: absolute;
  top:100%;
  left: -2px;
  right: -2px; 
  border: 2px solid #f5f5f5;
  background-color: #fff;
}

a.nav-dropdown__dropdown-item {
    height: 40px;
    color: #808080;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding-left: 28px;
    display: flex;
    align-items: center;
    border: 2px solid #f5f5f5;
    transition: background .2s linear;
    &:last-child
    {border-bottom: none;}
    &:hover {
      background-color: #f1f1f1;
    }
}