
.promo-section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 350px;
    text-align: center;
    height: 350px;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
    border-radius: 6px;
    background-color: #Fff;
    transition: box-shadow .2s ease-in;
}


.promo-section-item:hover {
    box-shadow: 0 3px 25px rgba(0,0,0,.24);
}
.promo-section-item__title {
    color: #666666;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 30px;
}
.promo-section-item__subtitle {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 1;
}
.promo-section-item__img {

    
}
// item and background img
.promo-section-item--background-img
{   
    justify-content: flex-end;
     background-color: #3b4b48;
    background-position: center;
    background-size: cover;
    padding-bottom: 45px;
    .promo-section-item__subtitle{
        margin-bottom: 0;
        color: rgba(255,255,255,0.3);
    }
    .promo-section-item__title {
        color: #fff;
        
    }
    
}
.promo-section-item--background-img-watch
{   
    background-color: #3b4b48;
    background:url(../image/watch-bg.jpg);
    background-position: center;
    background-size: cover;
    
}

// small block
.promo-section-item--small {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 150px;
    text-align: left;
    .promo-section-item__title {
        color: #666666;
        line-height: 2.14;
        font-weight: 500;
        font-size: 14px;      
        margin: 0;  
    }

}
.promo-section-item__img-cell {
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;  
    
    width: 116px;
    height: 100%; 
    margin-right: 25px;  


}
.promo-section-item__img-title-cell {
    display: flex;

    align-items: center;  
    
}


.promo-section-item-link-wrapper--column {
    display: inline-block;
    margin-bottom: 30px;
    &:not(:last-child) { 
        margin-bottom: 30px;
         }
}