* {
  box-sizing: border-box; }

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  margin: 0; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.hidden {
  display: none; }

.header {
  background-color: white;
  height: 300px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08); }

.header__container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 41px 38px 23px;
  align-items: center; }

.header__logo {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.76px; }

.header__search {
  display: flex;
  width: 468px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #f5f5f5; }
  .header__search-input-wrapper {
    width: 278px;
    display: flex;
    align-items: center;
    border-right: 2px solid #f5f5f5; }
  .header__search-input {
    padding: 0 20px;
    height: 46px;
    width: 100%;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    border: none;
    outline: none; }
    .header__search-input::placeholder {
      color: #b3b3b3; }
  .header__search-dropdown {
    border-right: 2px solid #f5f5f5;
    width: 142px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__search-button-wrapper {
    flex-grow: 1; }
  .header__search-button {
    background-color: transparent;
    border: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .header__search .header__nav {
    border-top: 2px solid #f5f5f5; }

.header-select {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer; }

.header-select__title {
  width: 83px;
  color: #b3b3b3;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  position: relative; }
  .header-select__title::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 8px;
    height: 5px;
    background-image: url("./../image/icons/dropdown-arrow_icon.svg"); }

.header-select__dropdown {
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  background-color: #fff; }

.header-select__dropdown-item {
  height: 40px;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border: 2px solid #f5f5f5;
  transition: background .2s linear; }
  .header-select__dropdown-item:last-child {
    border-bottom: none; }
  .header-select__dropdown-item:hover {
    background-color: #f1f1f1; }

.header-select.header-select--nav .header-select__title {
  font-size: 14px;
  text-transform: none;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1; }

.header__links {
  display: flex;
  justify-content: space-between; }

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .header-link:not(:last-child) {
    margin-right: 35px; }
  .header-link svg {
    fill: grey; }
  .header-link:hover {
    color: blue;
    text-decoration: none; }
    .header-link:hover svg {
      fill: blue; }

.header-link__icon {
  width: 21px;
  height: 21px;
  margin-right: 18px;
  position: relative; }

.header-link--notify .header-link__icon::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: -8px;
  right: -7px; }

.header-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1; }

.header-nav {
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  display: flex;
  width: 1110px;
  margin: 0 auto;
  height: 60px; }

.header-nav__categories {
  border-right: 2px solid #f5f5f5;
  width: 200px; }

.header-nav__deals {
  border-right: 2px solid #f5f5f5;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  align-items: center;
  flex-grow: 1; }

.header_nav__link {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 1; }
  .header_nav__link:not(:last-child) {
    margin-right: 35px; }
  .header_nav__link:hover {
    color: #1875f0;
    text-decoration: none; }

.header-mega-menu-link {
  padding: 0 30px 0 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%; }
  .header-mega-menu-link:hover {
    color: #1875f0;
    text-decoration: none; }
    .header-mega-menu-link:hover svg {
      fill: #1875f0; }

.header-mega-meny-link__icon {
  margin-right: 22px; }
  .header-mega-meny-link__icon svg {
    fill: grey; }

.header-mega-menu-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px; }
